.container {
  background-color: #4899E8;
  color: #080C0F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  transition: background-color 0.5s;
  font-family: 'Ubuntu', sans-serif;
}

.containerDark {
  background-color: #001d3d;
  color: #FCFCFC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  transition: background-color 0.5s;
  font-family: 'Ubuntu', sans-serif;
}

.title {
  font-size: 3rem;
  margin-bottom: 0rem;
}

.aboutButton {
  background-color: transparent;
  border: 3px solid #080C0F;
  color: #080C0F;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: opacity 0.3s, transform 0.3s;
}

.aboutButton:hover {
  opacity: 0.8;
  transform: translateY(-2px);
}

.aboutButton:active {
  opacity: 0.5;
  transform: translateY(2px);
}


.aboutContainer {
  background-color: transparent;
  color: #080C0F;
  padding: 1rem;
  margin-top: 0rem;
  margin-bottom: -1rem;
  max-width: 50%;
  text-align: center;
}

.imageContainer {
  margin-top: 1.2rem;
}

.imageContainer img {
  max-width: 15rem;
  height: auto;
}

.iconsContainer {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 3rem;
  height: 3rem;
  margin: 0 1rem;
  cursor: pointer;
  transition: transform 0.3s;
}

.icon:hover {
  transform: scale(1.2);
}

.icon:active {
  transform: scale(0.8);
}

.darkModeButton {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
}

.darkModeButton:hover {
  transform: scale(1.2);
}

.darkModeButton:active {
  transform: scale(0.8);
}

.darkModeButton:focus {
  outline: none;
}

.darkModeButton img {
  width: 2.5rem;
  height: 2.5rem;
}

.darkModeButton img[src$="sun.png"] {
  filter: invert(1) brightness(100%);
  width: 2.5rem;
  height: 2.5rem;
}

.darkMode {
  background-color: #333;
  color: #f7f7f7;
}

.aboutButtondark {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.aboutContainerdark {
  background-color: transparent;
  color: #fff;
}

.icondark {
 filter: invert(1) brightness(100%);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeIn {
  animation: fadeIn 1s ease-in-out forwards;
}
.fadeIn1 {
  animation: fadeIn 1.5s ease-in-out forwards;
}
.fadeIn2 {
  animation: fadeIn 2s ease-in-out forwards;
}
.fadeIn3 {
  animation: fadeIn 2.5s ease-in-out forwards;
}
.fadeIn4 {
  animation: fadeIn 3s ease-in-out forwards;
}


.fadeOut {
  animation: fadeOut 0.5s ease-in-out forwards;
}


@media screen and (max-width: 768px) {
  .title {
    font-size: 1.7rem;
    margin-bottom: 0px ;
  }

  .aboutContainer {
    max-width: 90%;
  }

  .imageContainer img {
    max-width: 10rem;
  }

  .icon {
    width: 2rem;
    height: 2rem;
  }

  .iconsContainer {
    flex-wrap: wrap;
    margin-top: 0.5rem;
  }

  .icon {
    margin: 0.5rem;
  }
}



